name: Docker build and push

env:
  DOCKER_REGISTRY: ghcr.io
  DEFAULT_BRANCH: heads/master

on:
  push:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.0.1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up buildx
        uses: docker/setup-buildx-action@v1.0.3
        with:
          driver: docker

      - name: Login to GitHub Package Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker image
        id: docker_build
        uses: docker/build-push-action@v2.2.0
        with:
          context: .
          push: false
          tags: ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}:latest
          build-args: |
            BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            VCS_REF=${GITHUB_SHA::8}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Push docker image
        if: ${{ contains(github.ref, env.DEFAULT_BRANCH) }}
        run: |
          docker push ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}:latest
